<div class="subjects">
  <ul>
    {{# each subjects}}
    <li data-subject="{{selector}}" class="{{#if active}}active{{/if}}">{{name}}</li>
    {{/each}}
  </ul>
</div>

{{#if showScenarioSelector}}
  {{addSubViewTo thisView 'ScenarioSelectorView' filter=filter}}
{{/if}}

{{#if showAgrCommDevSelector}}
  {{addSubViewTo thisView 'LevelSelectorAgrCommDevView' filter=filter}}
{{/if}}

{{#if showLensSelector}}
  {{addSubViewTo thisView 'LensSelectorView' filter=filter}}
{{/if}}

{{#if showOtherSelectors}}
  {{addSubViewTo thisView 'LevelSelectorView' filter=filter}}
  {{addSubViewTo thisView 'ProtectionOptionView' filter=filter}}
  {{addSubViewTo thisView 'PressureOptionView' filter=filter}}
{{/if}}
