<div class="subjects">
  <ul>
    {{# each subjects}}
    <li data-subject="{{selector}}" class="{{#if active}}active{{/if}}">{{name}}</li>
    {{/each}}
  </ul>
</div>


{{#if showAgrCommDevSelector}}
  <div class="scenario-container">
  {{addSubViewTo thisView 'ScenarioSelectorView' filter=filter}}
  {{addSubViewTo thisView 'LevelSelectorAgrCommDevView' filter=filter}}
  </div>
{{else}}
  {{#if showLensSelector}}
    {{addSubViewTo thisView 'LensSelectorView' filter=filter}}
  {{/if}}
{{/if}}

{{#if showOtherSelectors}}
  {{addSubViewTo thisView 'LevelSelectorView' filter=filter}}
  {{addSubViewTo thisView 'ProtectionOptionView' filter=filter}}
  {{addSubViewTo thisView 'PressureOptionView' filter=filter}}
{{/if}}
