<div class="results-number">
  {{addSubViewTo thisView 'ResultsNumberView' resultsNumber=resultsNumber}}
</div>

<div class="subjects">
  <h1>Which results would you like to explore?</h1>

  <ul>
    {{# each subjects}}
      <li data-subject="{{selector}}" class="{{#if active}}active{{/if}}">{{#if ../showScenarioGroup}}{{threatsName}}{{else}}{{name}}{{/if}}
      <i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="top" data-content="{{tooltip}}"></i></li>
    {{/each}}
  </ul>
</div>


{{#if showScenarioGroup}}
  {{#if showScenarioSelector}}
    {{addSubViewTo thisView 'ScenarioSelectorView' filter=filter}}
  {{/if}}
{{else}}
  {{#if showScenarioSelector}}
    {{addSubViewTo thisView 'ScenarioSelectorView' filter=filter}}
  {{/if}}
{{/if}}

{{#if showLensSelector}}
  {{addSubViewTo thisView 'LensSelectorView' filter=filter}}
{{/if}}

{{#if showOtherSelectors}}
  {{addSubViewTo thisView 'LevelSelectorView' filter=filter}}
  {{addSubViewTo thisView 'ProtectionOptionView' filter=filter}}
  {{addSubViewTo thisView 'PressureOptionView' filter=filter}}
{{/if}}
