<h1>Level of {{#if isChangeTab}}Change{{else}}{{#if isBiodiversity}}Biodiversity Importance{{else}}EF Provision{{/if}}{{/if}} <i class="fa fa-info-circle" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{#if isChangeTab}}View results for all watersheds or a subset based on change in the level of {{#if isBiodiversity}}biodiversity importance{{else}}ecosystem function provision{{/if}}{{else}}View results for all watersheds or a subset based on level of {{#if isBiodiversity}}biodiversity importance{{else}}ecosystem function provision{{/if}}{{/if}}"></i></h1>

<select id="levels-select" class='select-box'>
  {{# each levels}}
  <option value="{{selector}}" {{#if selected}}selected{{/if}}>{{name}}</option>
  {{/each}}
</select>
  