<ul class="tabs">
  {{# each tabs}}
  <li data-subject="{{selector}}" class="{{selector}}-tab {{#if active}}active{{/if}}">{{name}}</li>
  {{/each}}
</ul>

<div class="tab-tagline">
  <p>{{tagline}}</p>
</div>

{{addSubViewTo thisView 'FilterView' filter=filter resultsNumber=resultsNumber}}
