<ul class="tabs">
  {{# each tabs}}
  <li data-subject="{{selector}}" class="{{selector}}-tab {{#if active}}active{{/if}}">{{name}}</li>
  {{/each}}
</ul>

<div class="tab-strapline">
  <p><i class="fa fa-info-circle"></i>{{strapline}}</p>
</div>

<div class="scale-info">
  <p>Displaying results for {{selectedScaleName}} scenarios. To change to {{unSelectedScaleName}} scenario results, <a href="/">Start Again</a>.</p>
  <i class="fa fa-times"></i>
</div>

{{addSubViewTo thisView 'FilterView' filter=filter resultsNumber=resultsNumber}}
