<ul class="tabs">
  {{# each tabs}}
  <li data-subject="{{selector}}" class="{{selector}}-tab {{#if active}}active{{/if}}">{{name}}</li>
  {{/each}}
</ul>

<div class="tab-strapline">
  <p><i class="fa fa-info-circle"></i>{{strapline}}</p>
</div>

<div class="scale-info">
  <p>Displaying data at a {{selectedScaleName}} level. To change to a {{unSelectedScaleName}} level, <a href="/">go back</a>.</p>
  <i class="fa fa-times"></i>
</div>

{{addSubViewTo thisView 'FilterView' filter=filter resultsNumber=resultsNumber}}
